.button {
    -fx-background-color: #F29602;
    -fx-background-radius: 0;
    -fx-font-size: 28;
}
.button:hover{
    -fx-background-color: #b87600;
    transition: -fx-background-color 1s;
}
.alternative-button {
    -fx-background-color: #14213D;
}
.alternative-button:hover {
    transition: -fx-background-color 1s;
    -fx-background-color: #2d4986;
}
